<div class="container-fluid">
    <div class="row">
        <h4>Settings</h4>
    </div>
    <div class="row">
        <div class="col-3 nopadding" style="background-color:#F3F3F3;padding: 0;margin: 0;">
            <table class="table table-bordered">
                    <tbody>
                        <tr>
                        <td>
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-cog" style="color:#89D4DF"></i>
                                </div>
                                <div  class="col-11">General Setting</div>
                            </div>
                            
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <div class="row">
                                
                                <div class="col-1">
                                    <i class="fas fa-users" style="color:#FABA8F"></i>
                                </div>
                                <a class="button" href="#"> <div  class="col-11">Competitors</div></a>
                                
                            </div>
                                    
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-chevron-up" style="color:violet"></i>
                                    </div>
                                    <div class="col-11">
                                            Negotiation
                                    </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="col-9 nopadding" style="background-color:white; padding: 0;margin: 0;"></div>
    </div>

</div>