<div class="container-fluid">
    <div class='row'>
        <div class="col-6">
                My Factory Manager
                <div class="file">
                    <form class="md-form">
                        <div class="file-field">
                            <a>
                            <i class="far fa-heart" aria-hidden="true"></i>
                            <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                                <!-- <input class="file-path validate" type="text" placeholder="Upload your file"> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="code"></div>
            </div>
            <div class="col-6">My Negotiation
                <div class="file">
                    <form class="md-form">
                        <div class="file-field">
                            <a>
                            <i class="far fa-heart" aria-hidden="true"></i>
                            <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                                <!-- <input class="file-path validate" type="text" placeholder="Upload your file"> -->
                            </div>
                        </div>
                    </form>
                </div>
                <div class="code"></div>
            </div>
    </div>
</div>